<div class="col-xs-6">
        <% for @t in @tweets %>
        <div class="panel panel-default">
            <div class="panel-body">
                <p><%= @t.content %></p>
            </div>
        </div>
        <% end %>
    </div>
