/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

  body {
    background: linear-gradient(
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)
  ), url("/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.log-in {
  border: solid 1px blue;
  padding: 12px;
}

.sign-up {
  border: solid 1px blue;
  padding: 12px;
  height: 400px;
}

.sign-up-container {
  height: 360px;
}

.sign-in-button {

text-align: center;
margin-right: 10rem;
margin-left: 1rem;
}

.text-field {
  height: 50px;
  width: 350px;
}

.sign-up-button {
  margin-top: 1rem;
  text-align: center;
  margin-right: 10rem;
}

input {
  color: black;
}

h1 {
  color: white;
  font-weight: bold;
}

h5 {
  color: white;
  font-weight: bold;
}

.navbar {
  background-color: #F7F4F3
}

.navbar-brand {
  position: absolute;
  left: 50%;
}

.post-panel {
  margin: 10px;
}

.post-content {
  text-align: left;
  margin-left: 30px;
}

.comment-owner {
  color: black;
  font-weight: bold;
  margin-left: 30px;
}

.comment-creation {

}

.comment-content {
  margin-left: 32px;
}

.post-owner {
  color: black;
  font-weight: bold;
  margin-left: 30px;
}

.post-creation {
  opacity: 0.65;
}

.the-content {
  margin-left: 20px;
}

.post-panel {
  background-color: ghostwhite;
}

.find-a-lawyer {
  height: 500px;
  background: linear-gradient(
rgba(0, 0, 0, 0),
rgba(0, 0, 0, 0)
), url("/background_image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p.find-a-lawyer {
  color: blue;
  font-weight: bold;
}

.the-comment {
  margin-left: 50px;
}
